<html>
   <head>
      <title>IP address</title>
      <link href="static/css/boostrap.css" rel="stylesheet">
      <link href="static/css/boostrap-theme.css rel="stylesheet">
   </head>
   <body>
     <ul>
         <li>{{ output }}</li>
     </ul>
     <button id="nasa">submit</button>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
   <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
   <script src="static/js/bootstrap.js"></script>
   <script src="static/js/bootstrap.min.js"></script>
   <script src="static/js/custom.js"></script>
   </body>
 </html>
